{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="flex flex-col h-full gap-5">
        <div class="w-full flex flex-row justify-between text-gray-300 font-medium">
            {% include 'app_auth/components/_pieChart.html' %}
            {% include 'app_auth/components/_lineChart.html' %}
        </div>
        <div class="w-full flex flex-col gap-5 justify-between text-gray-300 font-medium mb-5 font-medium overflow-scroll">
            <h2 class="text-center text-4xl text-gray-300 my-2">Bugungi dars jadvali</h2>
            <div class="w-full h-full">
                {% include 'app_main/components/_timetable.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
