{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="w-full flex flex-row items-start gap-10 font-medium p-5">
        <div class="w-1/2 flex flex-row items-start">
            <img class="w-1/2" src="https://res.cloudinary.com/dhtrn05k4/image/upload/v1/shams-media/profile-pictures/user-default.png" alt="{{ request.user.full_name }}">
            <div class="w-1/2 flex flex-col gap-2">
                <h4 class="text-gray-300 flex items-center justify-between gap-1">
                    Ism:
                    <p class="text-xl">
                        {{ request.user.full_name }}
                    </p>
                </h4>
                <h4 class="text-gray-300 flex items-center justify-between gap-1">
                    Familiya:
                    <p class="text-xl">
                        {{ request.user.last_name }}
                    </p>
                </h4>
                <h4 class="text-gray-300 flex items-center justify-between gap-1">
                    Sharif:
                    <p class="text-xl">
                        {{ request.user.middle_name }}
                    </p>
                </h4>
                <h4 class="text-gray-300 flex items-center justify-between gap-1">
                    Lavozim:
                    <p class="text-xl">
                        {{ request.user.get_role_name }}
                    </p>
                </h4>
            </div>
        </div>

        <div class="w-1/2 flex flex-col gap-5">
            <div class="flex items-center gap-2">
                <span class="material-icons text-6xl text-gray-300">person</span>
                <p class="text-2xl text-gray-300">Shaxsiy ma'lumotlar</p>
            </div>
            <form action="" method="post" class="flex flex-col gap-2">
                {% csrf_token %}
                <input type="text" class="border border-gray-700 rounded px-4 py-2 outline-none text-gray-300" placeholder="{% trans 'Ism' %}" value="{{ request.user.first_name }}">
                <input type="text" class="border border-gray-700 rounded px-4 py-2 outline-none text-gray-300" placeholder="{% trans 'Familiya' %}" value="{{ request.user.last_name }}">
                <input type="text" class="border border-gray-700 rounded px-4 py-2 outline-none text-gray-300" placeholder="{% trans 'Sharif' %}" value="{{ request.user.middle_name }}">
                <input type="email" class="border border-gray-700 rounded px-4 py-2 outline-none text-gray-300" placeholder="{% trans 'E-mail manzil' %}" value="{{ request.user.email }}">
                <button type="submit" class="border border-gray-700 text-gray-300 rounded px-4 py-2 active:scale-95 hover:bg-gray-700 hover:text-white hover:cursor-pointer transition">{% trans "Ma'lumotlarni yangilash" %}</button>
            </form>
            <div class="flex items-center gap-2">
                <span class="material-icons text-6xl text-gray-300">lock</span>
                <p class="text-2xl text-gray-300">Parol</p>
            </div>
            <form action="" method="post" class="flex flex-col gap-2">
                {% csrf_token %}
                <input type="password" class="border border-gray-700 rounded px-4 py-2 outline-none text-white" placeholder="{% trans 'Yangi parol' %}">
                <input type="password" class="border border-gray-700 rounded px-4 py-2 outline-none text-white" placeholder="{% trans 'Yangi parolni tasdiqlang' %}">
                <button type="submit" class="border border-gray-700 text-gray-300 rounded px-4 py-2 active:scale-95 hover:bg-gray-700 hover:text-white hover:cursor-pointer transition">{% trans "Parolni yangilash" %}</button>
            </form>
        </div>
    </div>
{% endblock content %}