<div class="flex justify-between items-center mb-6 w-full">
    <h2 class="text-2xl font-semibold text-white w-1/2">{{ headerTitle }}</h2>
    <div class="flex flex-row items-center justify-end gap-5 w-1/2">
        <button class="flex items-center bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md transition hover:cursor-pointer select-none active:scale-90">
            <span class="material-icons text-xl">{{ btnIcon }}</span>
            {{ btnText }}
        </button>
        <input class="text-white font-medium outline-none border border-gray-300 px-4 py-2 rounded-lg w-1/2" type="search" name="search" id="search" placeholder="{{ placeholder }}">
    </div>
</div>