<table class="w-full border-collapse border border-gray-800">
    <tr class="w-full">
        <th class="h-10 border border-gray-800 px-4">Xona</th>
        {% for hour in hours %}
            <th class="h-10 border border-gray-800 px-4">
                {{ hour }}
            </th>
        {% endfor %}
    </tr>
    {% for room, schedule in timetable.items %}
        <tr>
            <th class="h-10 border border-gray-800 px-4">{{ room }}</th>
            {% for hour, lesson in schedule.items %}
                <td class="h-10 border border-gray-800 px-4 text-center">
                    {% if lesson %}
                        {{ lesson }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>