{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="px-6">

    <script id="subjects_data" type="application/json">
        {{ subjects_data|safe }}
    </script>

    {% include 'app_main/components/_tableHeader.html' with placeholder="Fan nomi bo'yicha qidirish" btnText="Fan qo'shish" headerTitle="Barcha fanlar" btnIcon="add" %}

    <div class="border border-gray-700 rounded-lg overflow-hidden">
        <table class="w-full text-white">
            <thead class="bg-[#2D3748]">
                <tr>
                    <th class="p-3">№</th>
                    <th class="p-3">{% trans 'Fan nomi' %}</th>
                    <th class="p-3">{% trans 'Guruhlar soni' %}</th>
                    <th class="p-3">{% trans 'Oquvchilar soni' %}</th>
                    <th class="p-3">{% trans 'Qoshilgan vaqti' %}</th>
                    <th class="p-3">{% trans 'Yangilangan vaqti' %}</th>
                    <th class="p-3">{% trans 'Tahrirlash / Ochirish' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                    <tr class="border-b border-[#2D3748] hover:bg-[#1D2739] transition">
                        <td class="p-3 text-center">{{ forloop.counter }}</td>
                        <td class="p-3">{{ subject.name }}</td>
                        <td class="p-3 text-center">{{ subject.group_count }}</td>
                        <td class="p-3 text-center">{{ subject.student_count}}</td>
                        <td class="p-3 text-center">{{ subject.created_at }}</td>
                        <td class="p-3 text-center">{{ subject.updated_at }}</td>
                        <td class="p-3 flex gap-2 justify-center">
                            <button class="bg-[#2D3748] hover:bg-[#3A4556] text-white px-3 py-2 rounded-md transition active:scale-90 flex items-center justify-center hover:cursor-pointer select-none">
                                <span class="material-icons text-sm">edit</span>
                            </button>
                            <button class="bg-red-600 hover:bg-red-700 text-white px-3 py-2 rounded-md transition active:scale-90 flex items-center justify-center hover:cursor-pointer select-none">
                                <span class="material-icons text-sm">delete</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'components/_pagination.html' %}
</div>

<script type="text/javascript" src="{% static 'js/_filterSubjects.js' %}"></script>
{% endblock content %}
